:root {
    --velvet-red: #430100;
    --velvet-background: #1A1818;
    --text-color: #FBF6F6;
}

body {
    background-color: var(--velvet-background);
}


/* .site-header {
    width: 100%;
} */


/* HEADER */

.site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header-inner {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    padding: 1.5rem 2rem;
}

.header-title {
    text-align: center;
    margin: 1rem 0;
}

.site-title {
    display: grid;
    grid-template-rows: repeat(2, auto);
    text-align: center;
    row-gap: 0.3rem;
    margin: 0;
}

.site-title span {
    display: block;
    font-size: 52px;
    font-weight: bold;
    line-height: 51px;
    letter-spacing: 0.3em;
    color: #FBF6F6;
}


/* .header-title h1 {
    margin: 0;
    font-size: 52px;
    font-weight: bold;
    line-height: 51px;
    letter-spacing: 0.2em;
} */

.main-navigation ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0;
    list-style: none;
}

.main-navigation ul a{
    text-decoration: none;
    color: #FBF6F6;
}


/* .main-navigation {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
} */

.main-navigation {
    border-top: 1px solid #FBF6F6;
    border-bottom: 1px solid #FBF6F6;
}

.site-header {
    background-color: var(--velvet-red);
}

.home .site-header {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* 
header image */

/* .hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-cta {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}

.header-cta .btn.primary{
    background: var(--text-color);
    color: var(--velvet-red);
    padding: 20px 55px;
    font-size: 30px;
    font-weight: 700;
    /* width: 200px;
    height: 100px; */
    border-radius: 8px;
    text-decoration: none;
}

/* footer css */


.site-footer {
    background-color: var(--velvet-red);
}

.footer-inner {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
}

.site-footer a,
.site-footer span {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
}


/* HOME PAGE  */

.home-intro {
    /* max-width: 800px; */
    padding: 30px 25px;
    margin: 6rem auto;
    /* text-align: center; */
}

.home-intro h2 {
    margin-bottom: 1rem;
    font-size: 32px;
    color: var(--text-color);
}

.home-intro p{
    color: var(--text-color);
    font-size: 15px;
}

.vid-title{
    color: var(--text-color);
    margin-left: 30px;
    font-size: 32px;
}

.home-videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 0 2rem;
}

.video {
    background: #000;
    height: 440px;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}

.dot {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background: #FBF6F6;
    border: 1px solid var(--velvet-red);
}

.dot.active {
    background-color: var(--velvet-red);
}


.home-cta {
    text-align: center;
    margin: 4rem 0;
}

.btn.secondary {
    background: var(--text-color);
    color: var(--velvet-red);
    padding: 20px 55px;
    font-size: 30px;
    font-weight: 700;
    /* width: 200px;
    height: 100px; */
    border-radius: 8px;
    text-decoration: none;
}

