:root {
    --velvet-red: #430100;
    --velvet-background: #1A1818;
    --text-color: #FBF6F6;
    --navbar-color: #958484;
}

body {
    background-color: var(--velvet-background);
    height: 100vh;
}



/* HEADER */


.site-header {
    background: #1A1818;
    padding: 0.5rem 1rem;
    color: var(--text-color);
}

.header-inner {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 2rem;
}

.site-branding {
    font-size: 30px;
    line-height: 1.1;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-navigation{
    margin-left: 70px;
}

.menu-burger{
    font-size: 1rem;
    width: 40px;
    height: 40px;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.main-navigation ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.main-navigation a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 21px;
    font-style: bold;
    font-weight: 500;
}


.reserve-btn {
    border: 1px solid var(--text-color);
    color: var(--text-color);
    padding: .5rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    background: none;
    border-radius: 8px;
}


/* header responsive */

@media (max-width: 768px) {

    .site-branding {
        font-size: 24px;
    }

    .header-inner {
        /* grid-template-columns: auto 1fr; */
        display: flex;
        justify-content: space-between;
    }

    .reserve-btn {
        display: none;
    }

    .main-navigation {
        display: none;
    }

    .menu-burger{
        display: block;
    }

}

.scroll-icon{
    color: var(--text-color);
    position: fixed;
    bottom: 150px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}



/* 
header image */

.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-cta {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    text-align: center;
}



.banner-branding{
    color: var(--text-color);
    font-size: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-cta .btn.primary{
    /* display: flex;
    justify-content: center; */
    background: var(--text-color);
    color: var(--velvet-red);
    padding: 20px 55px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .banner-branding{
        font-size: 60px;
    }

    .header-cta .btn.primary{
        padding: 15px 40px;
        font-size: 15px;
    }
}

/* footer css */


.site-footer {
    background-color: var(--velvet-red);
    padding: 1rem 0;
}

.footer-inner {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
}

.polit-confid {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
}

.site-footer a,
.site-footer span {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
}

.insta-icon{
    color: var(--text-color);
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/* HOME PAGE  */


/* PAGE D ACCEUIL */

/* section qui sommes nous  */

.home-intro .intro-grid {
    margin-top: 70px;
    padding: 24px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: 450px;
}

.intro-grid .intro-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2rem;
}

.intro-grid .intro-text h2 {
    font-size: 32px;
    color: var(--text-color);
}

.intro-grid .intro-text p {
    color: var(--text-color);
    font-size: 15px;
}

.intro-grid .intro-text .btn.secondary {
    align-self: flex-start;
    color: var(--text-color);
    background: none;
    border: 1px solid var(--text-color);
    padding: 15px 40px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
}

.intro-grid .intro-image{
    height: 450px;
    overflow: hidden;
}

.intro-grid .intro-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width: 768px) {
    .home-intro .intro-grid {
        grid-template-columns: 1fr;
        height: auto;
    }

    .intro-grid .intro-image,
    .intro-grid .intro-text {
        height: 450px;
    }
}

/* sections derniers projets   */

.section-pres {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.section-pres h2 {
    width: 100%;
    text-align: left;
    font-size: 32px;
    color: var(--text-color);
    margin-bottom: 2rem;
    padding-left: 2rem;
}

.image-pres {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem 0;
    padding: 0 2rem;

}

.image-pres .pres-left-image,
.image-pres .pres-right-image {
    height: 450px;
    overflow: hidden;
    margin-bottom: 45px;
}

.section-pres .btn{
    margin-top: 450px;
    background: var(--text-color);
    color: var(--velvet-red);
    padding: 20px 55px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .image-pres {
        grid-template-columns: 1fr;
    }

    .section-pres .btn{
        margin-top: 20px;
    }
}


/* PAGE LA COMPAGNIE */

.company-title h1 {
    font-size: 3rem;
    color: var(--text-color);
}

.company-banner {
    position: relative;
    text-align: center;
    color: white;
}

.company-banner img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    display: block;
}

.company-banner h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: #FBF6F6;
    text-align: center;
}

.company-image {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
}

.company-image img {
    width: 70%;
    height: 650px;
    object-fit: cover;
    display: block;
}

.company-members {
    text-align: center;
    padding: 6rem 2rem;
}



.company-members h2 {
    margin-bottom: 1rem;
    color: var(--text-color);
}

.company-members p {
    /* max-width: 700px; */
    margin-top: 50px;
    margin-bottom: 50px;
    /* margin: 0 auto 4rem; */
    color: var(--text-color);
    text-align: start;
}

.members-grid {
    display: grid;
    grid-template-columns: repeat(4, 330px);
    gap: 2rem;
    justify-content: center;
}


.member-card {
    width: 330px;
    height: 470px;
    display: flex;
    flex-direction: column;
}

.member-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member-card span {
    margin-top: 0.75rem;
    font-size: 20px;
    color: var(--text-color);
}

@media (max-width: 768px) {

    .company-banner h2 {
        font-size: 50px;
    }

    .company-image img {
        width: 95%;
        height: auto;
    }

    .members-grid {
        grid-template-columns: 1fr;
    }

    .member-card {
        width: 100%;
        height: auto;
    }

    .member-card img {
        height: auto;
    }
}


/* PAGE PRESTATION */

.prestations-title {
    padding: 6rem 0;
    text-align: center;
}

.prestations-title {
    padding: 6rem 0;
    text-align: center;
}

.prestations-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0 2rem;
    margin-bottom: 6rem;
}

.prestations-content {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 0 2rem 6rem;
}

.prestation-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
}

.prestation-media {
    background-color: #ccc;
    height: 400px;
}


/* PAGE BOOKING */

.booking-calendar {
    padding: 6rem 2rem;
    text-align: center;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1.5rem;
    margin-top: 4rem;
}

.day {
    background: #fff;
    height: 300px;
    padding-top: 1rem;
    color: red;
    font-weight: bold;
}

.booking-contact {
    padding: 6rem 2rem;
}

.booking-contact h2 {
    text-align: center;
    margin-bottom: 4rem;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.contact-info img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 2rem;
}

.contact-details p {
    margin-top: 0.5rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.form-row.two {
    grid-template-columns: 1fr 1fr;
}

.form-row.three {
    grid-template-columns: repeat(3, 1fr);
}

.contact-form input,
.contact-form textarea {
    padding: 0.75rem;
    border: 1px solid #ccc;
    font-family: inherit;
}

.contact-form textarea {
    min-height: 120px;
    resize: none;
}

.contact-form button {
    background: var(--text-color);
    color: var(--velvet-red);
    border: none;
    padding: 0.75rem;
    cursor: pointer;
}

/* RESPONSIVE PART  */


